img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #007bff;
}

footer p.lead {
    font-weight: 500;
    color: #333333;
}
