img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #007bff;
}

footer p.lead {
    font-weight: 500;
    color: #333333;
}

/* Background Video */
.background-video {
    position: fixed; /* Fixes the video in place */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2; /* Stays behind all other elements */
    opacity: 0.6; /* Adjusts transparency */
}
